.nav {

  height: 100%;
  padding: 100px 40px 50px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.linkContainer {
  perspective: 120x;
  perspective-origin: bottom;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navItem a {
  color: white;
  text-decoration: none;
  font-size: 46px;
}

.footer {
  display: flex;
  flex-wrap: wrap;

}

.footer a {
  color: white;
  width: 50%;
  text-decoration: none;
  font-size: 20px;
}