:root {
  --background: #0b0b0e;
  --foreground: #bfbfc6;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* overflow-x: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: var(--foreground);
}