.section {
  width: 100%;
  min-height: 100vh;
  padding: 5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.sectionHead {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

.sectionHead h3 {
  color: #bfbfc6;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 2.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.sectionHead p {
  text-align: center;
  color: #fff6;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.25rem;
  padding-bottom: 2.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.tagButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}



.buttonTag {
  padding: 10px 20px;
  color: #f1f1f1;
  border: 1px solid #fff6;
  border-radius: 50px;
  cursor: pointer;
}

/* ------------ Project ---------- */
.allProjects {
  position: relative;
  width: 100%;
}

.blob {
  width: 50%;
  height: 50%;
  background: conic-gradient(from 2.35rad, #FF5722, #512DA8);
  filter: blur(100px);
  position: absolute;
  top: 10rem;
  left: 0;
  user-select: none;
  z-index: -1;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.projectBox {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  min-height: 500px;
  position: relative;

  /* backdrop-filter: blur(3px); */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.5);

}

.imageContainer {
  padding: 1rem 1rem 0.5rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBox {
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.imageBox img {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutProject {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  min-height: 19rem;
}

.projectHeader h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-wrap: wrap;
}

.projectHeader p {
  color: #f1f1f1;
  font-size: 1rem;
  line-height: 1.15rem;
  font-weight: 400;
  margin-top: 1rem;
}

.projectButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.projectButtons .buttonLink {
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  font-size: 1.25rem;
  color: white;
  border: 1px solid #ffffff66;
  border-radius: 50px;
  cursor: pointer;
}

.notFound{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .sectionHead h3 {
    font-size: 3.75rem;
    line-height: 1;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sectionHead p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .projectBox {
    flex-direction: row;
    align-items: center;
    min-height: auto;
    max-width: 1080px;
  }

  .imageContainer {
    width: 640px;
    padding: 1rem 1rem 1rem 1rem;
  }

  .projectButtons {
    flex-direction: row;
    gap: 1rem;
  }

  .aboutProject {
    padding: 1rem 2rem;
    min-height: 100%;
  }
}