.loaderBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}

.loaderBox h2 {
  color: #fff;
  font-size: 3rem;
  text-wrap: wrap;
  width: 200px;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 5px;
  background: linear-gradient(90deg, #000000a1, #fff, #000000a1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 90%;
  animation: shine 3s linear infinite;
}

.loaderBox .loading {
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.loaderBox .loading svg {
  animation: spin 1s linear infinite;
}

.loaderBox .loading p {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  gap: 5px;
}
.loaderBox .loading p span {
  animation: bounce 1s infinite;
  display: inline-block;
}

@media (min-width: 768px) {
  .loaderBox h2 {
    width: auto;
  }
  .loaderBox p {
    font-size: 1.5rem;
  }
}

@keyframes shine {
  0% {
    background-position-x: -1000%;
  }

  100% {
    background-position-x: 1000%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}
